body {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 1200px;
    margin: 0 auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');

.imagecontainer {

    float:left;
}

.imagecontainer img{
    width:170px;
    height:200px;
}

.main-banner {
    background-image: url(/Content/images/moviebanner.jpg);
    font-family: 'Lemonada', cursive;
    width: 100%;
    height: 170px;
    opacity:0.6;
}

.main-navigation {
    background-color: #3a3a3a;
    width: 100%;
    height: 40px;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

ul li:first-child {
    padding-left: 4em;
}

ul li:last-child {
    padding-right: 4em;
}

.inline {
    display: inline;
}

.main-navigation a, li {
    text-decoration: none;
    color: white;
}

.actor {
    width: 60%;
    height: 235px;
    margin: 16px auto;
    border: 1px solid black;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    border-radius: 4px;
}

.actorBio {
    width: 96%;
    padding-left: 16em;
    padding-top: 1em;
    height: 70%;
}

.center {
    text-align: center;
}

.main-navigation a:hover {
    background-color: mediumvioletred;
}

.director {
    width: 80%;
    height: 235px;
    margin: 16px auto;
    border: 1px solid black;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    border-radius: 4px;
}

.directorBio {
    width: 96%;
    padding-left: 15em;
    padding-top: 1em;
    height: 70%;
}

.movie {
    width: 60%;
    height: 235px;
    margin: 16px auto;
    border: 1px solid black;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    border-radius:4px;
}
.moviereview {
    width: 96%;
    padding-left: 16em;
    padding-top: 1em;
    height: 70%;
}

.updateactor {
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 4px;
}

.form_inputfield{

    margin:2em;

}

.form_inputfield label {
    width: 100px;
}

.form_inputfield input,textarea {
    border-radius: 4px;,
}

.choosefile {
    margin-left: 6em;
}

.updatedirector {
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 4px;
}

.updateform {
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 4px;
}

.left{
    position:relative;
    float:left;
}

.right{
    position:relative;
    float:left;
}

.details {
    padding: 10px;
    height:300px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 4px;
}
.actedmovies{
    float:right;
    position:relative;
    width:250px;
    margin-left:10px;
    margin-right:10em;
}

.underline{
    text-decoration:underline;
}

.moviedetails {
    padding: 10px;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 4px;
}