@model MovieBlog.Models.ActorDto
@{
    ViewBag.Title = "Create";
}

<h2 class="center">Create Actor</h2>

@Html.ActionLink("Back to List", "ListActors", "Actor", new { }, null)

<div class="updateactor">
    <form action="/actor/create" method="POST" name="actorform">
        <div class="form_inputfield center">
            <label for="actorform__firstname">First name :</label>
            <input id="FirstName" name="FirstName" type="text" />
        </div>
        <div class="form_inputfield center">
            <label for="actorform__lastname">Last name :</label>
            <input id="LastName" name="LastName" type="text" />
        </div>
        <div class="form_inputfield center">
            <label for="actorform__country">Country :</label>
            <input id="Country" name="Country" type="text" />
        </div>
        <div class="form_inputfield center">
            <label for="actorform__actorreview">Review:</label>
            <textarea id="Bio" name="Bio"></textarea>
        </div>
        <div class="form_inputfield center">
            <input type="submit" value="Create Actor" />
        </div>
    </form>
</div>
